<div id="main-wrapper">
    <pages-header></pages-header>

    <pages-sidebar></pages-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!--Breadcrumbs-->
            <pages-breadcrumbs></pages-breadcrumbs>

            <!--Rutas-->
            <router-outlet></router-outlet>
        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">© 2017 Admin Pro by wrappixel.com</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>
