<div class="input-group">
    <span class="input-group-btn">
        <button
            [ngClass]="btnClass"
            type="button"
            (click)="changeValue(-5)">
            <i class="ti-minus"></i>
        </button>
    </span>
    <input
        type="number"
        class="form-control"
        [ngClass] ="{'is-invalid': progress < 0 || progress > 100}"
        placeholder="Progreso"
        (ngModelChange)="onChange($event)"
        [(ngModel)] = "progress"
    />
    <span class="input-group-btn">
        <button
            [ngClass]="btnClass"
            type="button"
            (click)="changeValue(5)">
            <i class="ti-plus"></i>
        </button>
    </span>
</div>
