<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control"
                        placeholder="Buscar usuario"
                        (keyup)="searchUser(txtTerm.value)"
                        #txtTerm>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
    *ngIf="loading">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <img src="/images/puff.svg" width="50" alt="">ñ
            <p class="mb-0">Espere un momento por favor.</p>
        </div>
    </div>
</div>

<div class="row fadeIn fast"
    *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de Usuarios ({{ totalUsers }}) - {{ usersFrom }}</h4>
                <h6 class="card-subtitle">Lista de usuarios registrados en el sistema</h6>
                <div class="table-responsive">
                    <table class="table table-bordered table-fixed">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Avatar</th>
                                <th style="width: 25%;">Email</th>
                                <th style="width: 25%;">Nombre</th>
                                <th style="width: 15%;">Rol</th>
                                <th style="width: 15%;">Auth</th>
                                <th style="width: 10%;" class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="support-table">
                            <tr *ngFor="let user of users">
                                <td class="td-center">
                                    <img [src]="user.imageUrl"
                                        class="avatar-img border-radius-100 cursor"
                                        alt="Avatar de Usuario"
                                        (click)="openModal(user)">
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.name }}</td>
                                <td>
                                    <select name="" id="" class="form-control" [(ngModel)]="user.role" (change)="changeRole(user)">
                                        <option value="ADMIN_ROLE">Administrador</option>
                                        <option value="USER_ROLE">Usuario</option>
                                    </select>
                                </td>
                                <td class="td-center">
                                    <span *ngIf="user.google" class="label label-success">Google</span>
                                    <span *ngIf="!user.google" class="label label-info">Sistem</span>
                                </td>
                                <td class="text-nowrap td-center">
                                    <a data-toggle="tooltip"
                                        data-original-title="Eliminar"
                                        class="cursor"
                                        (click)="deleteUser(user)"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="txtTerm.value.length === 0">
                    <button class="btn btn-secondary" (click)="changePage(-5)">Anteriores</button>
                    &nbsp;
                    <button class="btn btn-secondary" (click)="changePage(5)">Siguientes</button>
                </div>
            </div>
        </div>
    </div>
</div>
