<div class="animated fadeIn fast modal-background hidden"
    [class.hidden]="modalImageService.hideModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block; padding-right: 15px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
                    <button type="button"
                            class="close cursor"
                            data-dismiss="modal"
                            aria-label="Close"
                            (click)="closeModal()"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <h3>Seleccione una imagen</h3>
                    <div class="d-flex mb-5 justify-content-center">
                        <img *ngIf="!imgTemp" [src]="modalImageService.img" class="d-block img-avatar">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="d-block img-avatar">
                    </div>

                    <div class="flex">
                        <input type="file"
                            (change)="changeImage($event)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            (click)="closeModal()">Cancelar</button>

                    <button type="button"
                            class="btn btn-primary"
                            (click)="uploadImage()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
