<div class="row">
    <div class="col-6">
        <components-doughnut-chart
            value="Ventas"
            [labels]="labels1"
            [data]="data1">
        </components-doughnut-chart>
    </div>

    <div class="col-6">
        <components-doughnut-chart
            value="Compras">
        </components-doughnut-chart>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <components-doughnut-chart
            value="Cambios">
        </components-doughnut-chart>
    </div>

    <div class="col-6">
        <components-doughnut-chart
            value="Devoluciones">
        </components-doughnut-chart>
    </div>
</div>
